<!DOCTYPE html>
	<head>
		<title>Arduino Web Server</title>
		<meta http-equiv="refresh" content="1.5; url=http://192.168.1.108" />
	</head>
	<body>
		<h1> Adruino Web Server </h1>
		
		<h2> Commands </h2>
		<h3> LED: <a href="/action1" > TURN ON </a>
		<h3> LED: <a href="/action2" > TURN OFF </a>
		
		<h2> Toggle buttons </h2>
		{% for pin in pins %}
			<h3>LED 
			{% if pins[pin].state == 1 %} 
				is currently <strong>on</strong></h3>
				<div class="row"><div class="col-md-2">
				<a href="/{{pin}}/off" class="btn btn-block btn-lg btn-default" role="button">Turn off</a>
				</div></div>
			{% else %}
				is currently <strong>off</strong></h3>
				<div class="row"><div class="col-md-2">
				<a href="/{{pin}}/on" class="btn btn-block btn-lg btn-primary" role="button">Turn on</a>
				</div></div>
			{% endif %}
		{% endfor %}

		{% if valueDist <= 600 and valueDist >= 300 %}
			<h2> People Walked By </h2>
		{% endif %}
		{% if (valueLight <= 50 and valueLight != 0) or (preLight <= 50) %}
			<h2> Moon is coming out </h2>
		{% else %}
			<h2> Sun is coming out </h2>
		{% endif %}
	</body>
</html> 